{% extends 'auth_base.html' %%}
<form action="/attempt_login" class="ml-3 col-md-6">
    {% csrf_token %}
        {% for fiels in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        </div>
        {% endfor %}

    </div>

    </section>
</form>
{% endblock %}
 